<div class="popup" style="top: 40px;">

    <div class="popup-head">
        Добавить файл
        <div class="popup-close ngdialog-button" ng-click="closeThisDialog('close')"></div>
    </div>

    <form ng-submit="submit_file_upload(upload_file_form)"  class="popup-content replay_upload ng-pristine ng-valid" name="upload_file_form" e-form="upload_file_form" method="post">
        <input type="hidden" name="_method" value="">

        <div>
            <label class="popup-label" for="replayTitle">
                Файл
            </label>

            <div class="popup-input">

                <label class="btn btn-orange" for="replayFile">
                    Выбрать файл
                    <input type="hidden" name="ReplaysForm[filename]" value="">
                    <input type="file" onchange="angular.element(this).scope().setFile(this)" id="replayFile"
                           name="uploadForm[filename]" style="display: none"> </label>

                <div class="popup-selected" style="display: block;">
                    <span style="margin-left: 20px" class="title" ng-bind="file.file.name"></span>
                </div>
            </div>
        </div>

        <div>
            <label class="popup-label" for="replayTitle">
                Название
            </label>
            <div class="clearfix">
                <input type="text" id="replayTitle" class="form-control" name="uploadForm[title]" ng-model="file.title">
            </div>

            <div class="popup-error error_title"></div>

        </div>


        <div class="footer-button">

            <button type="submit" class="btn btn-orange">Ок</button>
        </div>

    </form>
</div>