<div class="col-3-row-1 tile no_padding">
    <div class="item_link">
        {% block ml_content %}

        {% endblock %}
        <div class="item_content">
            <h2 class="item_heading">{{ data.ml_name }}</h2>

            <div class="item_description">
                {{ data.ml_short_description }}
            </div>

            <div class="item_buttons">
                <a class="button button__tile" href="/replay/1532">
                    Подробнее
                </a>
            </div>
        </div>

        <div class="offer">
            <div class="game-version">
                0.5.9.0
            </div>
        </div>
    </div>
</div>