<footer class="footer">
    <div class="footer_panel">
        <div class="footer_holder"><p class="footer_copyright">© 2015–2016 WOWS-MODS.TK 12+</p>
{#            <ul class="footer-menu">#}
{#                <li class="footer-menu_item">#}
{#                    <a class="footer-menu_link" href="">Link</a>#}
{#                </li>#}
{#                <li class="footer-menu_item">#}
{#                    <a class="footer-menu_link" href="">Link</a>#}
{#                </li>#}
{#                <li class="footer-menu_item">#}
{#                    <a class="footer-menu_link" href="">Link</a>#}
{#                </li>#}
{#            </ul>#}
        </div>
    </div>
</footer>

<div class="overlay fixed" id="loading" style="z-index: 1000" if-loading><div class="loading">{{ isLoading }}</div></div>