{#<header class="header">#}
{#    <div class="header_holder">#}
{#        <nav class="menu"><a class="menu_link__main menu_link" href="/">WOWS-MODS</a>#}
{#            <a class="link-colored__red menu_link">Загрузить</a>#}
{#            <a class="menu_link" href="/">Новости</a>#}
{#            <a class="menu_link" href="/">Реплеи</a>#}
{#            <div class="menu_right">#}
{#            </div>#}
{#        </nav>#}
{#    </div>#}
{#</header>#}

<div class="game-menu"><div class="game-menu_holder"><a href="/" class="game-menu_logo"><img src="https://static-pss-ru.gcdn.co/shop/static/3.16.2/frontend/images/blocks/game-logos/wows.png" alt=""></a><div class="game-menu_right"></div></div></div>
{#<a href="/" class="link-colored link-colored__big">Главная</a><a href="/shop/wows/premium/" class="link-colored link-colored__big">Премиум</a><a href="/shop/wows/vehicles/" class="link-colored link-colored__active  link-colored__big">Корабли</a><a href="/shop/wows/signals/" class="link-colored link-colored__big">Сигналы</a><a href="/shop/wows/specials/" class="link-colored link-colored__big link-colored__red">Спецпредложения</a>#}